.question{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.options{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap: 3px;

}

.options button{
    width: 620px;
    height: 40px;

}

.btn-holder{
    display: flex;
    justify-content: space-between; /* pushes items to edges */
    align-items: center;            /* vertically center if needed */
    width: 100%;
    padding-top:25px;                    /* or any fixed width */                /* optional spacing */
}

.btn{
    width:fit-content;
    height: 30px;
    background-color: blue;
    color:white;
    font-weight: bold;
    padding: 8px;
    border:none;
    border-radius: 5px;
}

button.selected {
    background-color: #4caf50;
    color: white;
}
