.results{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;

}

.results p {
    font-size: 28px;
}

.results button {
    width:fit-content;
    padding:10px;
    background-color: blue;
    color:white;
    border:none;
    border-radius: 20px;
}