/* Make the body take full height and center everything */
body {
    display:flex;
    justify-content: center;    /* centers vertically */
    height: 100vh;           /* full viewport height */
    margin: 0;               /* remove default margin */
    background-color: #f0f0f0;
    margin-top: 40px; /* optional: light background */
}

.app-container {
    display: flex;
    justify-content: center; /* centers content inside container horizontally */
    align-items: center;     /* centers content inside container vertically */
    width: 620px;            
    height: 50px;            
    background-color: rgb(215, 213, 213); 
    border: 2px solid green;              
    box-shadow: 2px 2px 10px rgba(155, 156, 227, 0.7); 
    border-radius: 8px;      
}
